activemq-data/
.idea/
*.iml
*.ipr
*.iws
.metadata/
.recommenders/
.classpath
.project
.cache
.settings/
.checkstyle
.gradle/
build/
build_images/**/output/
deploy/
target/
mods/
*.swp
*.jar
*.tar.gz
epom
log
npm-debug.log
.DS_Store
phantomjsdriver.log

generated-sources/

/state/
